@model IEnumerable<DeviantMusicCore.Models.AdsB>

@{
    ViewData["Title"] = "Banner Ads List";
    Layout = "_AdminLayout";
}
<div class="panel" style="width:100%">
    <div class="panel-heading">
        <div class="row">
            <div class="col-6">
                <h3>Banner Ads List</h3>
            </div>
            <div class="col-6 text-right">
                <a class="btn btn-info" asp-action="CreateAdsB"> Add New</a>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <table class="table table-striped border" id="adsblist" style="width:100%">
            <thead>
                <tr>
                    <td class="text-center">Id</td>
                    <td class="text-center">Title</td>
                    <td class="text-center">Date</td>
                    <td class="text-center">Hits</td>
                    <td class="text-center">Actions</td>
                </tr>
            </thead>
            @foreach (var item in Model)
            {
            <tr>
                <td class="text-center">@Html.DisplayFor(ad => item.Id)</td>
                <td class="text-center">@Html.DisplayFor(ad => item.Title)</td>
                <td class="text-center">@item.Date.ToString("dd/MMM/yyyy")</td>
                <td class="text-center">@Html.DisplayFor(ad => item.Hits)</td>
                <td class="text-center">
                        <div class="btn-group" role="group">
                            <a type="button" class="btn btn-success rounded-0"  asp-action="EditAdsB" asp-route-id="@item.Id"><i class="far fa-edit"></i></a>
                            <form method="post" action="DeleteAdsB">
                                <button onclick="if (!confirm('Are you sure you want to delete this Item?')) { return false }" type="submit" class="btn btn-danger rounded-0 " asp-action="DeleteAdsB" asp-route-id="@item.Id"><i class="far fa-trash-alt"></i></button>
                            </form>
                        </div>
                </td>    
            </tr>
            }
        </table>
    </div>
    <div class="panel-footer">
        <p class="box-title">Total banner ads till @String.Format("{0:dddd, MMMM d, yyyy}", DateTime.Now) : @Model.Count()</p>
    </div>
</div>
@section scripts{
    <script>
        $(function(){
            $('#adsblist').DataTable({
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth":true
            });
        });
    </script>
}
