@model IEnumerable<DeviantMusicCore.Models.ApplicationUser>

<div class="row">
    <div class="col-6">
        <h2>Users List</h2>
    </div>
    <div class="col-6 text-right">
        <a class="btn btn-info" asp-area="Identity" asp-page="/Account/Register">Add User</a>        
    </div>
    <br />
    <div class="col-12" style="width: 100%;">
        <table id="userslist" class="table table-striped " style="width:100%" >
            <tr class="table-info">
                <th class="text-center">
                    User Name
                </th>
                <th class="text-center">
                    Stage Name
                </th>
                <th class="text-center">
                    Designation
                </th>
                <th class="text-center">
                    Artiste
                </th>
                <th class="text-center">
                    Team Member
                </th>
                <th class="text-center">
                    Actions
                </th>
            </tr>
            @foreach(var item in Model)
            {
                <tr>
                    <td class="text-center">@Html.DisplayFor(ad => item.UserName)</td>
                    <td class="text-center">@Html.DisplayFor(ad => item.StageName)</td>
                    <td class="text-center">@Html.DisplayFor(ad => item.Designation)</td>
                    <td class="text-center">@Html.DisplayFor(ad => item.IsArtiste)</td>
                    <td class="text-center">@Html.DisplayFor(ad => item.IsTeam)</td>
                    <td class="text-center">
                        <div class="btn-group" role="group">
                            <a type="button" class="btn btn-success rounded-0" asp-page="./EditUser" asp-route-id="@item.Id"><i class="far fa-edit"></i></a>
                            <form method="post"  action="DeleteUser">
                                <button onclick="if (!confirm('Are you sure you want to delete this Item?')) { return false }" type="submit" class="btn btn-danger rounded-0 " asp-action="DeleteUser" asp-route-id="@item.Id"><i class="far fa-trash-alt"></i></button>
                            </form>
                        </div>
                    </td>                 
                </tr>
            }

        </table>
    </div>
</div>
@section scripts{
    <partial name="_Pagination" />
}
