@model PaginatedList<DeviantMusicCore.Models.Software>

@{
    ViewData["Title"] = "Software Library";
}

<div class="wrapper">
    <div class="row">
        <div class="list-heading col-6">
            <h2 class="mb-0">Software Library</h2>
        </div>
        <div class="col-6 text-right">
                <a asp-action="TopFreeSoftwares">Top Free Softwares</a>
        </div>
        <br/>
    </div>
    <form class="form-inline-md ml-3" asp-action="SoftwareLibrary" method="get">
            <div class="col-md-12">
                <div class="input-group input-group-md">
                    <input style="text-align: center;" class="form-control form-control-navbar" type="text" name="searchString" value="@ViewBag.CurrentFilter" placeholder="Search Library" aria-label="Search">
                    <div class="input-group-append">
                        <button title="Search" class="btn btn-outline-secondary rounded-0" type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                        <a title="Clear" class="btn btn-outline-secondary rounded-0" asp-action="SoftwareLibrary"><i class="fas fa-times"></i></a>
                    </div>
                </div>
            </div>
            <br/>
    </form>
    <div class="row">
        <div class="col-6">
            <select name="tag" asp-items="ViewBag.SoftwareType" onchange="this.form.submit();" class="form-control text-center"><option value="">Type</option></select>
        </div>
        <div class="col-6">
            <select name="license" asp-items="ViewBag.ExtrasLicense" onchange="this.form.submit();" class="form-control text-center" id="license"><option value="">License</option></select>
        </div>
        <br/>
    </div>
    <div class="wrapper d-flex flex-wrap align-items-center justify-content-between">
        @foreach(var software in Model)
        {
            <div class="blog-post d-flex border">
                <div class="blog-post-thumbnail-container d-flex align-items-center justify-content-center">
                    if(software.Image != null)
                    {
                        <a asp-controller="Product" asp-action="SofwareDetail" asp-route-id="@software.Url"><img class="blog-post-thumbmail" src="data:image/*;base64,@(Convert.ToBase64String(software.Image))" alt="@software.Name"></a>
                    }
                    else
                    {
                        <a asp-controller="Product" asp-action="SofwareDetail" asp-route-id="@software.Url"><img class="blog-post-thumbmail" src="~/Images/blogplaceholder.png" alt="@software.Name"></a>
                    }
                </div>
                <div class="blog-tag">
                    @software.SoftwareType.Type
                </div>
                <div class="blog-post-details-container p-1">
                    <br/>
                    <div class="blog-post-title-container mb-3">
                        <a class="text-decoration-none" asp-controller="Product" asp-action="SoftwareDetail" asp-route-id="@software.Url"><h4 class="blog-post-title">@software.Name</h4></a>
                    </div>
                    <div class="pub-info-container d-flex align-items-center">
                        <div class="mr-4">
                            if(software.DeveloperId != null)
                            {
                                if(software.Developer.UserImage != null)
                                {
                                    <img alt="@software.Developer.UserName" class="author-image border mr-2" src="data:image/*;base64,@(Convert.ToBase64String(software.Developer.UserImage))">
                                }
                                else
                                {
                                    <img alt="@software.Developer.UserName" class="author-image border mr-2" src="~/Images/placeholder.png">
                                }
                                <a asp-controller="Team" asp-action="Member" asp-route-id="@software.Developer.UserName"><span class="author-name">@software.Developer.Name</span></a>    
                            }
                            else
                            {
                                <img alt="@software.ExternalDeveloper" class="author-image border mr-2" src="~/Images/placeholder.png">
                                <span class="author-name">@software.ExternalDeveloper</span> 
                            }
                        </div>
                        <div>
                            <span class="mr-2">&#x1F552;</span>Released: <span>@software.ReleaseDate.ToString("dd/MMM/yyyy")</span>
                            &nbsp;
                            @if(software.ExtrasLicense.License == "Paid")
                            {
                                @String.Format("{0:F}", software.Price)
                            }
                            else
                            {
                                <span class="mr-2"></span> <span>@software.ExtrasLicense.License</span>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="pagination-container my-5">
        <ul class="pagination d-flex justify-content-center">
            @{
                var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                var nextDisabled = !Model.HasNextPage ? "disabled" : "";
                var firstDisabled = !Model.HasFirstPage ? "disabled" : "";
                var lastDisabled = !Model.HasLastPage ? "disabled" : "";
            }

            <a asp-action="SoftwareLibrary"
            asp-route-pageNumber="1"
            asp-route-currentFilter="@ViewBag.CurrentFilter"
            title="First Page"
            class="btn btn-outline-secondary rounded-0 @firstDisabled">
                <i class="fas fa-angle-double-left fa-lg"></i>
            </a>

            <a asp-action="SoftwareLibrary"
            asp-route-pageNumber="@(Model.PageIndex - 1)"
            asp-route-currentFilter="@ViewBag.CurrentFilter"
            title="Prev Page"
            class="btn btn-outline-secondary rounded-0 @prevDisabled">
                <i class="fas fa-angle-left fa-lg"></i>
            </a>

            <a asp-action="SoftwareLibrary"
            asp-route-pageNumber="@(Model.PageIndex + 1)"
            asp-route-currentFilter="@ViewBag.CurrentFilter"
            title="Next Page"
            class="btn btn-outline-secondary rounded-0 @nextDisabled">
                <i class="fas fa-angle-right fa-lg"></i>
            </a>

            <a asp-action="SoftwareLibrary"
            asp-route-pageNumber="@(Model.TotalPages)"
            asp-route-currentFilter="@ViewBag.CurrentFilter"
            title="Last Page"
            class="btn btn-outline-secondary rounded-0 @lastDisabled">
                <i class="fas fa-angle-double-right fa-lg"></i>
            </a>
        </ul>
    </div>
</div>